<!DOCTYPE html>
<html>

<head>
  <title>
    Create Child Profile
  </title>
</head>

<body>
  <form method="post">
    <form action=<%=endpoint %> method="post" >
      <input type="text" name="email">
      <input type="submit" value="submit">
    </form>
</body>

</html>