<!DOCTYPE html>
<html>

<head>
  <title>
    Create Child Profile
  </title>

</head>

<body>
  <form action='/user/signup' method="post">
    <input type="text" name="email">
    <input type="submit" value="submit">
  </form>
</body>

</html>